@Model ModelInMVC.Models;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <ul>
       <li> @Model.Id</li>
       <li>@Model.Name</li>
       <li>@Model.Sal</li>
   </ul>
</body>
</html>
